@tailwind base;
@tailwind components;

body {
  text-align: left;
  background: #f8f8ff;
  @apply bg-gray-50;
}

h1 {
  @apply text-xl font-bold text-current;

}

a {
  cursor: pointer;
}

button, button:focus {
  outline: none;
}

@tailwind utilities;
